a {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

.buttondisabled {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #eee color: grey;
  cursor: pointer;
}

a:hover {
  background-color: #eee;
  color: #000;
}

body {
  text-align: center;
  align-items: center;
  align-content: center;
}

image {
  height: 50px;
  width: 50px;
}
button {
  height: 100px;
  width: 100px;
}